#header {
    font-family:'Stack Sans Text',monospace;
    width:100%;
    height:225px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#header-img {
    width:100%;
    background-size:cover;
    background-position-y:center;
    position:absolute;
}

#header h1 {
    opacity:1;
    color:black;
    font-size:48px;
    position:absolute;
}