#site-name {
    font-family:'Stack Sans Text', monospace;
    text-align:center;
    padding:5px;
}
#site-name a:link,a:visited,a:hover {
    color:black;
    text-decoration:none;
}
#nav-content {
    padding-left:10%;
    padding-right:10%;
    font-family:'Stack Sans Text', monospace;
    margin-top:5px auto;
}
#nav-content a:link,a:visited {
    color:black;
    text-decoration: none;
}
#nav-content a:hover,a:active {
    color:chartreuse;
    text-decoration:none;
}
#nav-content .tab {
    margin-left:18%;
}
#nav-content .label {
    font-weight:bolder;
}
#nav-footer {
    font-family:'Stack Sans Text',monospace;
    text-align:center;
    position:absolute;
    bottom:0px;
    margin-left:15%;
}