nav {
    height:100%;
    width:225px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:lightcoral;
    overflow-x:hidden;
    padding-top:5px;
}

main {
    height:auto;
    margin-left:225px;
    background-color:white;
    top:0;
    left:0;
    bottom:0;
    right:0;
}