<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> portfolio title</title>
    <base href="https://ethanlien1203.github.io">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <style>
        .container {
            width:100%;
            display:grid;
            grid-template-areas:"sidebar main";
            grid-template-columns: 200px auto;
        }
        .sidebar {
            grid-area:sidebar;
            height:100vw;
            background-color:lightcoral
        }
        .main {
            grid-area:main;
            height:100vw;
            background-color:white
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div id="site-name">
                <a href=""><h1>Ethan Lien</h1></a>
            </div>
            <p>Projects</p>
            <a style="margin-left:15%" href="/projects/adsr/">ADSR_pedal</a>
        </div>
        <div class="main">

        </div>
    </div>
</body>
</html>