<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE BABEYY</title>
    <!-- <base href="https://ethanlien1203.github.io"> -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideNav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">
    <style>
        #header-img {
            background-image:url(/images/adsr/jlcpcb.jpg);
            opacity:0.7;
        }
    </style>
</head>
<body>
    <special-nav></special-nav>

    <main>
        <div id="header">
            <div id="header-img"></div>
            <h1>ASDR_pedal</h1>
        </div>
    </main>

    <script src="/navManager.js"></script>
</body>
</html>